/*"STXiHei"用以通用 "Microsoft YaHei"用以兼容Windows "Heiti SC"用以兼容MacOS和iOS "WenQuanYi Micro Hei"用以兼容Linux*/
* {
    -fx-font-family: "STXiHei", "Microsoft YaHei", "Heiti SC", "WenQuanYi Micro Hei";
}
.root{
    -fx-background-image: url("image/home/background.png");
    -fx-background-size: cover;
}
#musicTip {
    -fx-alignment: center;
    -fx-font-size:17px;
    -fx-text-fill: white;
}
