/*"STXiHei"用以通用 "Microsoft YaHei"用以兼容Windows "Heiti SC"用以兼容MacOS和iOS "WenQuanYi Micro Hei"用以兼容Linux*/
* {
    -fx-font-family: "STXiHei", "Microsoft YaHei", "Heiti SC", "WenQuanYi Micro Hei";
}
.root {
    -fx-background-image: url("image/pause/background.png");
    -fx-background-size: stretch;
}
#time {
    -fx-alignment: center;
    -fx-font-size: 45px;
    -fx-text-fill: white;
}
#back {
    -fx-font-size: 35px;
}
#back:hover {
    -fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1) ;
}
